
.clock-title {
    color: white;
    text-align: center;
    font-size: 5rem;
}
.clock-container {
    width: 80vw;
    background-color: rgb(54, 54, 54);
    border-radius: 20px;
    padding: 20px;

    margin-bottom: 200px;
}

.clock {
    color: white;
    font-size: 7rem;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 3px 3px 10px black;
    text-align: center;
}